<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>Surfing Stretches and products</title>


    <link rel="stylesheet" href="assets/css/index.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>



        <nav>
                <div class="nav-wrapper">
                    <a href="index.html" class="brand-logo">
                        <img src="../images/surfboard.png" alt="Smiley face" height="65" width="65">
                    </a>
                    <ul id="nav-mobile" class="right">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                    </ul>
                </div>
            </nav>


    <div class="section no-pad-bot">
        <div class="pagetitle">
            <br>
            <br>
            <h1 class="header center teal-text text-lighten-2">Hip & Leg Stretches</h1>
            <div class="row center">
                <h5 class="header col s12 light">Shoulder stretches for recovery and range of motion.</h5>
            </div>

            <br>
            <br>

        </div>
    </div>
    <div class="container">
        <p>
            <ul>
                <li>Starting on a yoga mat</li>
                <br>
                <li>Cat/Cow - Cat and cow is a traditional way to start any yoga class but I like to use it to start my day. It is essential for back and neck health as it allows your spine to warm up one vertebrae at a time. On the inhale, arch your back and look up and on exhale release your head and pull your belly button up. I like to work towards a longer breath through 10 breathing cycles (20 movements)</li>
                <br>
                <li>Back wedge for 5 minutes / 2x a day (Product) - Once my spine is warmed up I like to move onto the back wedge. The positions of the wedge can range from lower to mid back in order to relieve tension in a problem area.</li>
                <br>
                <li>Cat/Cow - Back to a quick at and cow routine in order to relieve the outstretch back muscles from the backwedge.</li>
                <br>
                <li>Snake - This excise is similar to cat and cow but will be moving the head to the left and the hip to the right in a slithering snake motion. This allows our vertebrae to warm up in a different direction and gets out ab and hip muscles firing.</li>
                <br>
                <li>Hip circles - from there you build on the snake motion, dipping the hips and warming up the IT bands. Tight ID bands can plaque surfers with lower back pain, outer knee pain, and a decrease in range of motion leading to injuries like pulled hamstrings and a higher likelihood of torn knee tendons.</li>
                <br>
                <li>10x bridge - Now that our back is warmed up we can begin to stretch deeper. This exercise will get your hamstring firing and is another deeper spine warm up. When you drop your hips, try to come down in a controlled manner once vertebrae at a time. At the top of the stroke try to come onto your shoulder blades and hold for 2 to 3 seconds.</li>
                <br>
                <li>Arm swings - Now that we have began to stress the spine vertically we can begin to stress is laterally. Start with slow swing and straight arms and move towards loose arms and more momentum in your swing.</li>
                <br>
                <li>Knee pull to chest while lying on back - now we can move on to stretch the lower back. We begin with simple knee to chest pulls while lying on the yoga mat. While this seems like a leg and hip stretch, it is opening up our lower back for a deeper stretch.</li>
                <br>
                <li>Figure 4 - figure for is my favorite stretch for where my hips meet my lower back. I often am tight in these places from long surf sessions with a lot of paddling. Keeping my head raise for hours can cause train to the arch of my lower back.</li>
                <br>
                <li>Figure 4 and twist - spin to the side for a weight twist, the leg looped over the other serves as extra leverage to drive the lower back to rotate over itself. Find a limit and breath into it. On each exhale you can pull small increments into the stretch but don’t over do it. hard twisting motions have proven to be bad for the back unless properly progressed and warmed up.</li>
                <br>
                <li>Lacrosse ball lower back and upper hips (Product) - Now that we are warmed up and stretched out. It is important to work out knots and strains throughout the back. Using a lacrosse ball is my favorite spot to start because they are cheap and serve as a great tool to roll on or against. I keep one in my gym bag, car, living room and at my desk at the office. Even putting the ball between your back and a chair can serve as a relief from a tight back after a long surf. I buy them in bulk because I played lacrosse in college but they can be found in single, three and twelve packs on amazon. They are made of solid rubber and last forever.</li>
                <br>
                <li>Theracane tops of shoulder and moving down (Product) - Now that we located some of our larger knots with the lacrosse ball. The theracane is an amazing tool to pinpoint and applying more leverage to stubborn back knots. I like to start on one side and move through my back then move to the other side. The theracane is a hard item to demo on but basically you just find you leverage points to dig deep into back knots, regardless of how awkward you may look the theracane feels really good. I keep one at the office and one at home.</li>          
            </ul>
        </p>
    </div>



    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Surf Stretch Yoga</h5>
                    <p class="grey-text text-lighten-4">My favorite warmups, strengthing, rehabilitation and products for injury free surfing.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Text
                <a class="grey-text text-lighten-4 right" href="products.html">Favorite Products</a>
            </div>
        </div>
    </footer>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="assets/js/index.js"></script>

</body>

</html>