<!DOCTYPE html>
<html lang="en-us">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120633508-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120633508-2');
    </script>


    <meta charset="UTF-8">
    <title>Surfing Stretches and Products</title>


    <link rel="stylesheet" href="styles/style.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
</head>

<body>

    <!-- <nav>
        <div class="nav-wrapper grey">
            <a href="index.html" class="brand-logo"> -->
    <!-- <img src="../images/surfboard.png" alt="Smiley face" height="65" width="65"> -->
    <!-- Surf Stretches
            </a>
            <ul id="nav-mobile" class="right">
                <li>
                    <a href="index.html">Home</a>
                </li>
            </ul>
        </div> -->

    <div class="section no-pad-bot">
        <div class="pagetitle">
            <br>
            <br>
            <h1 class="header center titletext">Surf Stretches
            </h1>

            <div class="container center">
                <div class="row">
                    <div class="col s6 m6">
                        <a href="index.html">Home</a>
                    </div>
                    <div class="col s6 m6">
                        <a href="products.html">Products</a>
                    </div>
                </div>
            </div>

            <!-- <div class="row center">
                <h5 class="header col s12">My favorite mobility, recovery, rehabilitation, strengthening and products for injury free surfing.</h5>
            </div> -->

            <br>
            <br>

        </div>
    </div>


    <div class="container paragraph">
        <div class="row">
            <div class="col s12">
                <blockquote>
                        <h4> Arm Circles</h4>
                </blockquote>
                <p>
                    Stretching your arms and shoulders is always break after a good back workout. Starting from hips to back to shoulder will
                    allow the tight connecting areas between areas really lose. Most of our issues our developed in the lower
                    back or middle back. These key “in-between” areas that are hard to stretch. I like to start with small
                    circles forward and backwards then move to larger circles and into moving to arms up and down opposite
                    eaachother. This creates torsional stretches similar to long, efficient and balanced paddle strokes in
                    the the water.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <blockquote>
                        <h4> Puppy pose</h4>
                </blockquote>
                <p>
                    Surfers can often develop poor overhead flection from not stretch their shoulders. Puppy pose is an awkward one on the beach
                    prior to a surf so finding a wall or yoga mat to do this on after or before a surf can really benefit
                    blood flow and overhead mobility. I often forget about this stretch but it is really good for preventing
                    injury from a overhead impact. We have had taken a slam with a hand up in the air and felt that small
                    twitch pain when lifting our hands over heads for the coming weeks. A nagging injury that you can feel
                    paddling back out to the lineup.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <blockquote>
                        <h4> Corba pose</h4>
                </blockquote>
                <p>
                    Cobra pose posture is very similar to the position we are in prior to popping up on a way. The more strength, mobility and
                    balance you have in this position the more likely you are to feel comfortable with a late drop in. Cobra
                    pose will also help alleviate upper back tightness between the shoulder blades.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <blockquote>
                        <h4> <a target="_blank" href="https://www.amazon.com/gp/product/B01J96Y9WU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01J96Y9WU&linkCode=as2&tag=flexiblesurf-20&linkId=77a3089308c90cb03198b8b2b6375b17">Theracane surf warmup</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=flexiblesurf-20&l=am2&o=1&a=B01J96Y9WU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                </h4>
                        </blockquote>
                <p>
                    Now that we are stretch out it is important to work out any knots developed in the shoulders. I like to start with my traps.
                    This can be a little painful but make sure to push hard and avoid any bones. I keep one theracane at
                    the office and one next to my couch. Since they are so affordable it is nice to have a couple laying
                    around for a mid day knot release. There isn’t an exact way to use it since everyones leverage points
                    are a little different, don’t be afraid to get a little weird with it. I didn’t know what the hell it
                    was the first time I looked at one of these.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <blockquote>
                        <h4> Shoulder behind reach stretch</h4>
                </blockquote>
                <p>
                    Now that the knots are clear and our shoulders are warmed up it is important to work on more mobility. Pull your shoulders
                    behind your body, you will be amazed at how far you are able to pull yourself around after a couple weeks.
                    It is important to have a warmed up back and shoulders prior to reaching far here.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <blockquote>
                        <h4>Puppy pose on wall</h4>
                </blockquote>
                <p>
                    Now we can go back to that puppy pose and use the wall. Push deep into this movement and work on driving your hands overhead.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <blockquote>
                        <h4> <a target="_blank" href="https://www.amazon.com/gp/product/B01HQIV81S/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01HQIV81S&linkCode=as2&tag=flexiblesurf-20&linkId=1c5b4ef1f1b028b91019f1f01efb4332">Lacrosse Balls for Massage Therapy</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=flexiblesurf-20&l=am2&o=1&a=B01HQIV81S" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                            </h4>
                        </blockquote>
                <p>
                    Take to the wall as a cool down and put the ball of your should against the wall with the lacrosse ball. You will feel each
                    tender get massaged as you more from the back on the ball of each shoulder. This is a really good exercise
                    for small twitch pain or injuries. It will promote blood flow to the area.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <blockquote>
                        <h4> <a target="_blank" href="https://www.amazon.com/gp/product/B00DEYEREY/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00DEYEREY&linkCode=as2&tag=flexiblesurf-20&linkId=66bd8801c22f99bb58700765d32d1cc4">Arnica Cream for Surf Shoulder Pain</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=flexiblesurf-20&l=am2&o=1&a=B00DEYEREY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
               </h4>
                        </blockquote>
                <p>
                    In the event of an injury Arnica gel has been a saving grace. It reduces surface inflammation and can really easy pain directly
                    after an injury.
                </p>
            </div>
        </div>


    </div>


    <footer class="page-footer foot #00b8d4 cyan accent-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Surf Stretch Yoga</h5>
                    <p class="grey-text text-lighten-4">My favorite warmups, strengthing, rehabilitation and products for injury free surfing.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Text
                <a class="grey-text text-lighten-4 right" href="products.html">Favorite Products</a>
            </div>
        </div>
    </footer>


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="js/app.js"></script>

</body>

</html>