body{
    /* background-color:black; */
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* .pagetitle{
    color:lightgrey;
} */

.home{
    background-color:black;
}

.pagecontent{
    color:white;
}

