body{
    /* background-color: black; */
    text-align: center;
    /* color: black; */
}

.jumbotron{
    margin-top: 100px;
    text-align: left;
}

.footer {
    min-height: 260px;
    background: #000000;
    z-index: 1;
}

.categoryImages{
    padding:20px;
}