/* .parallax-container {
    height: "your height here";
  } */

/* .pagetitle{
    background-color:lightgray;
} */



/* .card{
    height:200px;
} */

.nav-wrapper{
    background-color:skyblue;
}



