body{
    align-items: center;
    background-color: lightgray;
}

.jumbotron{
    margin-top: 100px;
    text-align: left;
}

.card-img-top{
    width:100px;
    height:100px;
}

.card{
    align-items: center;

}

.topRow{
    background-color: lightblue;
    /* background-image: url("../images/trainimage.jpg"); */
    margin-bottom: 15px;
}

.cardRow{
    background-color: red;
    align-content: center;
    /* background-image: url("../images/trainimage.jpg"); */
    margin-bottom: 15px;
}

